---
---

@import "{{ site.theme }}";


#testul a{
color:red;
text-decoration:none;
}


#test{
color:red;
}


#wrap_header_ul{
	background-color:red;
	list-style:none;
}


#wrap_header_ul li{	
}

#wrap_header_ul li a{
	text-decoration: none;
	color: #000000;
}
/*--------------*/

#wrapheader{
	border:none;
	font-size:20px;
	font-weight: bold;
	
}


